

.searchBar input,
.searchBtn,
.searchBtn:before,
.searchBtn:after {
  transition: all 0.25s ease-out;
}

.searchBar input:invalid:not(:focus),
.searchBtn {
  cursor: pointer;
}

.searchBar,
.searchBar input:focus,
.searchBar input:valid {
  width: 100%;
}

.searchBar input:focus,
.searchBar input:not(:focus) + .searchBtn:focus {
  outline: transparent;
}

.searchBar {
  max-width: 320px;
  display: flex;
}

.searchBar input {
  background: transparent;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.searchBar input:focus,
.searchBar input:valid {
  transform: scale(1);
}


/* Active */





.searchBar input:focus,
.searchBar input:valid {
  background: #000000;
}
